:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.c_url {
  display: flex;
  width: 100%;
  justify-content: center;
}

.c_url__form {
  display: flex;
  flex-direction: column;
}

.c_url__group {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 20px;
  margin-top: 20px;
  border: none;
}

.c_url__group--submit {
  justify-content: flex-end;
}

.c_url__group--actions {
  justify-content: flex-end;
}

.c_url__label {
  font-size: 18px;
  font-weight: 500;
}

.c_url__input {
  padding: 15px;
  margin-left: 50px;
  font-size: 18px;
  min-width: 600px;
  border: 2px solid cornflowerblue;
  border-radius: 7px;
}

.c_url__input--result {
  height: 200px;
}

.c_url__btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.c_url__btn:hover {
  background-color: #646cff;
}

.c_url__btn:focus,
.c_url__btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.c_url__btn--submit {
  display: block;
  padding: 8px;
  min-width: 740px;
}

.c_url__btn--action {
  min-width: 170px;
  margin-left: 20px;
}

.c_url__btn--clear {
  margin-left: 25px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .c_url__btn {
    background-color: #747bff;
    color: #ffffff;
  }
}
